:root {
    --text-color: #333;
    --white-color: #fff;
    --header-height: 72px;
    --primary-color: rgb(66, 66, 155);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    padding: 0 12px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    padding: 0 8px;
    font-size: 12px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    min-width: 200px;
    height: 34px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 2px;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #9e9d9d;
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 2px;
    top: 25px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 4px 0;
    display: block;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    opacity: 0.8;
}

.pagination-item__link {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 2px;

}